<div class="row fademeThird">
  <div class="card " style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title fademeThird">Coding Projects</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Check out my most proud current and past projects!
      </h6>
      <div
        id="carouselProjectIndicators"
        class="carousel slide fademeSecond"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselProjectIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselProjectIndicators" data-slide-to="1"></li>
          <li data-target="#carouselProjectIndicators" data-slide-to="2"></li>
          <li data-target="#carouselProjectIndicators" data-slide-to="3"></li>
          <li data-target="#carouselProjectIndicators" data-slide-to="4"></li>
          <li data-target="#carouselProjectIndicators" data-slide-to="5"></li>
          <li data-target="#carouselProjectIndicators" data-slide-to="6"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <app-project-item
              title="Clipboard Mobile"
              [skills]="['Swift', 'UIKit']"
              description="Working on an iOS application that I can use as a project management utitlity when working on team projects."
              path="./assets/clipboard-mobile/version1-clipboard-mobile.gif"
              slide="First slide"
              link="https://github.com/XavierLaRosa/Clipboard-Mobile"
              [type]="true"
            ></app-project-item>
          </div>
          <div class="carousel-item text-center">
            <app-project-item
              title="Clipboard"
              [skills]="['JavaFX', 'Data Structures']"
              description="Working on a JavaFX application that I can use as a project management utitlity when working on team projects."
              path="./assets/clipboard.gif"
              slide="Second slide"
              link="https://github.com/XavierLaRosa/Clipboard"
              [type]="false"
            ></app-project-item>
          </div>
          <div class="carousel-item text-center">
            <app-project-item
              title="Project - GG"
              [skills]="['ReactJS', 'Adobe XD', 'Kanban']"
              description="Working with a team of three to develop a social media website
            that is aimed towards gamers."
              path="./assets/gg.gif"
              slide="Third slide"
              link="https://github.com/sangmattxavier/Project-GG"
              [type]="false"
            ></app-project-item>
          </div>
          <div class="carousel-item text-center">
            <app-project-item
              title="Nardwuar"
              [skills]="['Swift', 'Xcode', 'Postman']"
              description="Worked alongside a backend developer to create a mobile
            application."
              path="./assets/nardwuar.gif"
              slide="Fourth slide"
              link="https://github.com/RU-Nardwuar/iOS_Nardwuar"
              [type]="false"
            ></app-project-item>
          </div>

          <div class="carousel-item text-center">
            <app-project-item
              title="BetterWeather"
              [skills]="['Swift', 'Xcode', 'Postman', 'DarkSky API']"
              description="Created a mobile application that returns current weather data and
              data for seven days forward."
              path="./assets/betterweather/version1-betterweather.gif"
              slide="Fifth slide"
              link="https://github.com/XavierLaRosa/weatherApp"
              [type]="false"
            ></app-project-item>
          </div>

          <div class="carousel-item text-center">
            <app-project-item
              title="Song Library"
              [skills]="['JavaFX', 'Scene Builder', 'Data Strucutres']"
              description="Worked in a team of two to create a desktop application via JavaFX
              to display a song list with Add, Edit, and Delete functions."
              path="./assets/SongLibrary.gif"
              slide="Sixth slide"
              link="https://github.com/sangmattxavier/SongLib"
              [type]="false"
            ></app-project-item>
          </div>

          <div class="carousel-item text-center">
            <app-project-item
              title="Roll a Ball With a Twist"
              [skills]="['JavaFX', 'Scene Builder', 'Data Strucutres']"
              description="Created a two player unity application where players collect gems
              and try to beat the clock."
              path="./assets/ball.gif"
              slide="Seventh slide"
              link="https://github.com/XavierLaRosa/Roll-a-Ball-With-a-Twist"
              [type]="false"
            ></app-project-item>
          </div>
        </div>
        <!-- ***button panels are buggy -->
        <!-- <app-project-carousel-control
          [isPrev]="true"
        ></app-project-carousel-control>
        <app-project-carousel-control
          [isPrev]="false"
        ></app-project-carousel-control> -->
        <a
          class="carousel-control-prev"
          href="#carouselProjectIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselProjectIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
