<nav
  class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary navbar-fixed-top"
>
  <!-- <a class="navbar-brand" href="./index.html">Xavier La Rosa</a> -->
  <div class="container fademeThird">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto" style="margin: auto;">
        <li class="nav-item active">
          <a
            class="nav-link"
            target="_blank"
            href="https://www.linkedin.com/in/xavier-a-larosa/"
            >LinkedIn <fa-icon [icon]="['fab', 'linkedin']"></fa-icon
          ></a>
        </li>
        <li class="nav-item active">
          <a
            class="nav-link "
            target="_blank"
            href="https://github.com/XavierLaRosa"
            >GitHub <fa-icon [icon]="['fab', 'github']"></fa-icon
          ></a>
        </li>
        <li class="nav-item active">
          <a
            class="nav-link "
            href="#"
            data-toggle="modal"
            data-target="#resumeModal"
            id="resume-link"
            >Resume <fa-icon [icon]="['fas', 'newspaper']"></fa-icon
          ></a>
        </li>

        <li class="nav-item active">
          <a
            class="nav-link"
            href="#"
            data-toggle="modal"
            data-target="#contactModal"
            >Contact Me <fa-icon [icon]="['fas', 'address-book']"></fa-icon
          ></a>
        </li>

        <li class="nav-item active dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Project Links
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a
              class="dropdown-item"
              target="_blank"
              href="https://github.com/XavierLaRosa/Clipboard-Mobile"
              >Clipboard Mobile <fa-icon [icon]="['fab', 'github']"></fa-icon
            ></a>
            <a
              class="dropdown-item"
              target="_blank"
              href="https://github.com/XavierLaRosa/Clipboard"
              >Clipboard <fa-icon [icon]="['fab', 'github']"></fa-icon
            ></a>
            <a
              class="dropdown-item"
              target="_blank"
              href="https://github.com/sangmattxavier/Project-GG"
              >Project-GG <fa-icon [icon]="['fab', 'github']"></fa-icon
            ></a>
            <a
              class="dropdown-item"
              target="_blank"
              href="https://github.com/RU-Nardwuar/iOS_Nardwuar"
              >Nardwuar <fa-icon [icon]="['fab', 'github']"></fa-icon></a
            ><a
              class="dropdown-item"
              target="_blank"
              href="https://github.com/XavierLaRosa/weatherApp"
              >BetterWeather <fa-icon [icon]="['fab', 'github']"></fa-icon
            ></a>
            <a
              class="dropdown-item"
              target="_blank"
              href="https://github.com/XavierLaRosa/Roll-a-Ball-With-a-Twist"
              >Roll a Ball With a Twist
              <fa-icon [icon]="['fab', 'github']"></fa-icon
            ></a>
            <a
              class="dropdown-item"
              target="_blank"
              href="https://github.com/XavierLaRosa/TaskMNGR"
              >TaskMNGR <fa-icon [icon]="['fab', 'github']"></fa-icon
            ></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
