<div class="row fademeThird">
  <div class="card " style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title fademeThird">Coding Projects</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Check out my most proud current and past projects!
      </h6>
      <div
        id="carouselProjectIndicators"
        class="carousel slide fademeSecond"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselProjectIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselProjectIndicators" data-slide-to="1"></li>
          <li data-target="#carouselProjectIndicators" data-slide-to="2"></li>
          <li data-target="#carouselProjectIndicators" data-slide-to="3"></li>
          <li data-target="#carouselProjectIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <h6>Project-GG</h6>
            <span class="badge badge-pill badge-primary">ReactJS</span>
            <span class="badge badge-pill badge-secondary">Adobe XD</span>
            <span class="badge badge-pill badge-success">Kanban</span>
            <p>
              Working with a team of three to develop a social media website
              that is aimed towards gamers.
            </p>

            <img
              class="d-block w-100"
              src="../../assets/betterweather.gif"
              alt="First slide"
            />
            <div class="carousel-caption">
              <a
                class="btn btn-primary shadow-lg"
                target="_blank"
                href="https://github.com/sangmattxavier/Project-GG"
              >
                GitHub <i class="fab fa-github"></i>
              </a>
            </div>
          </div>

          <div class="carousel-item text-center">
            <h6>Nardwuar</h6>
            <span class="badge badge-pill badge-primary">Swift</span>
            <span class="badge badge-pill badge-secondary">Xcode</span>
            <span class="badge badge-pill badge-success">Postman</span>
            <p>
              Worked alongside a backend developer to create a mobile
              application.
            </p>
            <img
              class="d-block w-100"
              src="../../assets/betterweather.gif"
              alt="Second slide"
            />
            <div class="carousel-caption">
              <a
                class="btn btn-primary shadow-lg"
                target="_blank"
                href="https://github.com/RU-Nardwuar/iOS_Nardwuar"
              >
                GitHub <i class="fab fa-github"></i>
              </a>
            </div>
          </div>

          <div class="carousel-item text-center">
            <h6>BetterWeather</h6>
            <span class="badge badge-pill badge-primary">Swift</span>
            <span class="badge badge-pill badge-secondary">Xcode</span>

            <span class="badge badge-pill badge-success">Postman</span>
            <span class="badge badge-pill badge-info">DarkSky API</span>
            <p>
              Created a mobile application that returns current weather data and
              data for seven days forward.
            </p>
            <img
              class="d-block w-100"
              src="../../assets/betterweather.gif"
              alt="Third slide"
            />
            <div class="carousel-caption">
              <a
                class="btn btn-primary shadow-lg"
                target="_blank"
                href="https://github.com/XavierLaRosa/weatherApp"
              >
                GitHub <i class="fab fa-github"></i>
              </a>
            </div>
          </div>

          <div class="carousel-item text-center">
            <h6>Song library</h6>
            <span class="badge badge-pill badge-primary">JavaFX</span>
            <span class="badge badge-pill badge-secondary">Scene Builder</span>
            <span class="badge badge-pill badge-success">Data Structures</span>
            <p>
              Worked in a team of two to create a desktop application via JavaFX
              to display a song list with Add, Edit, and Delete functions.
            </p>
            <img
              class="d-block w-100"
              src="../../assets/SongLibrary.gif"
              alt="Fourth slide"
            />
            <div class="carousel-caption">
              <a
                class="btn btn-primary shadow-lg"
                target="_blank"
                href="https://github.com/sangmattxavier/SongLib"
              >
                GitHub <i class="fab fa-github"></i>
              </a>
            </div>
          </div>

          <div class="carousel-item text-center">
            <h6>Roll a Ball With a Twist</h6>
            <span class="badge badge-pill badge-primary">Unity</span>
            <span class="badge badge-pill badge-success">C#</span>
            <p>
              Created a two player unity application where players collect gems
              and try to beat the clock.
            </p>
            <img
              class="d-block w-100"
              src="../../assets/betterweather.gif"
              alt="Fifth slide"
            />
            <div class="carousel-caption">
              <a
                class="btn btn-primary shadow-lg"
                target="_blank"
                href="https://github.com/XavierLaRosa/Roll-a-Ball-With-a-Twist"
              >
                GitHub <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselProjectIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselProjectIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
