<div class="row fademeThird justify-content-center">
  <h3 class="text-center" style="margin-top: 2%; opacity: 1;">
    My Main Skills
  </h3>
</div>
<div class="row d-flex justify-content-center fademeThird">
  <button
    class="btn btn-danger skill"
    onclick="smoothScroll(document.getElementById('skillset'))"
  >
    ReactJS
    <fa-icon [icon]="['fab', 'react']"></fa-icon>
  </button>
  <button
    class="btn btn-success skill"
    onclick="smoothScroll(document.getElementById('skillset'))"
  >
    Angular
    <fa-icon [icon]="['fab', 'angular']"></fa-icon>
  </button>
  <button
    class="btn btn-warning skill"
    onclick="smoothScroll(document.getElementById('skillset'))"
  >
    iOS Development <fa-icon [icon]="['fab', 'swift']"></fa-icon>
  </button>
  <button
    class="btn btn-primary skill"
    onclick="smoothScroll(document.getElementById('skillset'))"
  >
    Java <fa-icon [icon]="['fab', 'java']"></fa-icon>
  </button>
  <button
    class="btn btn-info skill"
    onclick="smoothScroll(document.getElementById('skillset'))"
  >
    UX <fa-icon [icon]="['fas', 'paint-brush']"></fa-icon>
  </button>
</div>
