<div class="row justify-content-center fademeThird" id="skillset">
  <div class="col-md-7" style="padding: 0;">
    <div class="card float-right" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Skillset Overview</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          See what makes me a well-rounded developer & designer!
        </h6>
        <canvas id="myChart" width="1600" height="900"> </canvas>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">List of Skills</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          See what I can do!
        </h6>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="prog-tab"
              data-toggle="tab"
              href="#prog"
              role="tab"
              aria-controls="prog"
              aria-selected="true"
              style="color: #3e95cd; font-weight: bold;"
              >Languages</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="soft-tab"
              data-toggle="tab"
              href="#soft"
              role="tab"
              aria-controls="soft"
              aria-selected="false"
              style="color: #8e5ea2; font-weight: bold;"
              >Software</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="ux-tab"
              data-toggle="tab"
              href="#ux"
              role="tab"
              aria-controls="ux"
              aria-selected="false"
              style="color: #3cba9f; font-weight: bold;"
              >UX</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="misc-tab"
              data-toggle="tab"
              href="#misc"
              role="tab"
              aria-controls="misc"
              aria-selected="false"
              style="color: #9b5a5a; font-weight: bold;"
              >Misc.</a
            >
          </li>
        </ul>
        <div
          class="tab-content"
          style="height: 300px; overflow-y: scroll;"
          id="myTabContent"
        >
          <div
            class="tab-pane fade show active"
            id="prog"
            role="tabpanel"
            aria-labelledby="prog-tab"
          >
            <ul class="list-group">
              <li class="list-group-item">Java</li>
              <li class="list-group-item">Swift</li>
              <li class="list-group-item">JavaScript</li>
              <li class="list-group-item">HTML/CSS</li>
              <li class="list-group-item">Bash Scripting</li>
              <li class="list-group-item">Python</li>
            </ul>
          </div>
          <div
            class="tab-pane fade"
            id="soft"
            role="tabpanel"
            aria-labelledby="soft-tab"
          >
            <ul class="list-group">
              <li class="list-group-item">
                Microsoft Visual Studio Code
              </li>
              <li class="list-group-item">Xcode</li>
              <li class="list-group-item">IntelliJ IDEA & Eclipse</li>
              <li class="list-group-item">Postman</li>
              <li class="list-group-item">Adobe Illustrator</li>
              <li class="list-group-item">Adobe XD</li>
              <li class="list-group-item">Axure RP PRO</li>
              <li class="list-group-item">Git</li>
            </ul>
          </div>
          <div
            class="tab-pane fade"
            id="ux"
            role="tabpanel"
            aria-labelledby="ux-tab"
          >
            <ul class="list-group">
              <li class="list-group-item">
                User Research Case Studies
              </li>
              <li class="list-group-item">Conduct User Interviews</li>
              <li class="list-group-item">
                Design & Prototype Wireframes
              </li>
              <li class="list-group-item">
                Practice User Centered Design
              </li>
              <li class="list-group-item">Axure RP PRO</li>
              <li class="list-group-item">Adobe XD</li>
            </ul>
          </div>
          <div
            class="tab-pane fade"
            id="misc"
            role="tabpanel"
            aria-labelledby="misc-tab"
          >
            <ul class="list-group">
              <li class="list-group-item">ReactJS Library</li>
              <li class="list-group-item">Angular Framework</li>
              <li class="list-group-item">Bootstrap</li>
              <li class="list-group-item">Git & GitHub/BitBucket</li>
              <li class="list-group-item">JIRA</li>
              <li class="list-group-item">Agile Methodologies</li>
              <li class="list-group-item">
                Object Oriented Programming
              </li>
              <li class="list-group-item">Google Firebase</li>
              <li class="list-group-item">Chart.js Library</li>
              <li class="list-group-item">
                Computer Hardware Assembly
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
